* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #6943FF;
    --light: #B295FF;
    --text-headline: #5A537B;
    --text-body: #353535;
    --white: #FFFFFF;
    --body: #F4F4F4;
}

body {
    background-color: #F4F4F4;
    font-family: 'Inter', sans-serif;
}
.container {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

input {
    width: 100px;
    height: 60px;
    background: transparent;
    border: none;
    border: 1.5px solid var(--light);
    border-radius: 5px;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.convert-btn {
    border: none;
    padding: 0.6rem 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--white);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-headline);
    cursor: pointer;
}

.conversion-kinds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.conversion-container {
    background-color: var(--white);
    font-size: 0.8rem;
    padding: 1.8rem 3rem;
    text-align: center;
    border-radius: 5px;
    width: 390px;
}
.conversion-container:nth-child(3) {
    margin-bottom: 2rem;
}
h2 {
    color: var(--text-headline);
    padding-bottom: 1rem;
}


@media (max-width: 400px) {
    .conversion-container {
        width: 350px;
    }
}